{% include 'gifting-css' %}
<div class="gift-page-container">
  
  {% section 'hero-header' %}
  
  {% comment %}
  {% section 'gift-title' %}
  {% endcomment %}
  
  {% section 'three-block-banner' %}
  
  {% comment %}
  {% section 'full-width-banner' %}
  {% endcomment %}
  
  {% section 'two-block-banner' %}
  
  {% section 'gift-links' %}
  
  {% comment %}
  {{ page.content | split:"<!-- footer seo -->" | last }}
  {% endcomment %}
</div>
